
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <div class="navbar-brand">
                My Posts
            </div>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/post/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    Available Date
                </div>
                <div class="col-lg-3 visible-lg">
                    Daily Price (USD)
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    Address
                </div>
                <div class="col-xs-1">
                    <a href="#!/user/{{model.userId}}/post/new" class="new-button">
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </div>
            </div>
        </li>

        <li ng-repeat="post in model.posts" class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    <a href="#!/user/{{model.userId}}/post/{{post._id}}">
                        {{post.startDate | date}}
                    </a>
                </div>
                <div class="col-lg-3 visible-lg">
                    {{post.price}}
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    {{post.address}}
                </div>
                <div class="col-xs-1">
                    <a href="#!/user/{{model.userId}}/post/{{post._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>

