
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-4">
            <div class="navbar-header">
                <p class="navbar-text pull-left">
                    <a href="#!/profile" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <div class="navbar-brand">
                    My History
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="navbar-header">
                <div class="navbar-brand">
                    History Details
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-6 col-md-9 col-xs-12">
                            Date
                        </div>
                        <div class="col-lg-3 visible-lg">
                            Price
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs">
                            Address
                        </div>
                    </div>
                </li>

                <li ng-repeat="history in model.histories" class="list-group-item">
                    <a ng-click="model.renderHistory(history)">
                        <div class="row">
                            <div class="col-lg-6 col-md-9 col-xs-12">
                                {{history.startDate | date}} - {{history.endDate | date}}
                            </div>
                            <div class="col-lg-3 visible-lg">
                                {{history.price}}
                            </div>
                            <div class="col-md-3 hidden-sm hidden-xs">
                                {{history.address}}
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-8">
            <table class="table">
                <tbody>
                <tr>
                    <td>Car Owner</td>
                    <td>{{model.history._user.username}}</td>
                </tr>
                <tr>
                    <td>Renter</td>
                    <td>{{model.history._renter.username}}</td>
                </tr>
                <tr>
                    <td>Start Date</td>
                    <td>{{model.history.startDate | date}}</td>
                </tr>
                <tr>
                    <td>End Date</td>
                    <td>{{model.history.endDate | date}}</td>
                </tr>
                <tr>
                    <td>Car</td>
                    <td>{{model.car.name}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{model.history.price}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{model.history.address}},{{model.history.city}},{{model.history.state}},{{model.history.postCode}}</td>
                </tr>
                </tbody>
            </table>

            <img class="img-responsive" ng-src="{{model.car.url}}"/>

        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
