
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-4 hidden-xs">
            <div class="navbar-header">
                <p class="navbar-text pull-left">
                    <a href="#!/user/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <a class="navbar-brand" href="#!/user/{{model.userId}}/car">
                    Cars
                </a>
                <p class="navbar-text pull-right">
                    <a href="#!/user/{{model.userId}}/car/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="navbar-header">
                <p class="navbar-text pull-left">
                    <a href="#!/user/{{model.userId}}/car" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <a class="navbar-brand" href="#!/user/{{model.userId}}/car/{{model.carId}}">
                    Edit Car
                </a>
                <p class="navbar-text pull-right">
                    <a href="#!/user/{{model.userId}}/car" class="navbar-link">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-xs-11">
                            Car
                        </div>
                        <div class="col-lg-3 visible-lg">
                            Make
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs">
                            Model
                        </div>
                        <div class="col-xs-1">
                            <a href="#!/user/{{model.userId}}/car/new" class="new-button">
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li ng-repeat="car in model.cars" class="list-group-item">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-xs-11">
                            <a href="#!/user/{{model.userId}}/car/{{car._id}}">
                                {{car.name}}
                            </a>
                        </div>
                        <div class="col-lg-3 visible-lg">
                            {{car.make}}
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs">
                            {{car.model}}
                        </div>
                        <div class="col-xs-1">
                            <a href="#!/user/{{model.userId}}/car/{{car._id}}">
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <img ng-src="{{model.car.url}}"/>

            <label for="carName">Name</label>
            <input class="form-control"
                   ng-model="model.car.name"
                   id="carName"/>

            <label for="year">Year</label>
            <input class="form-control"
                   ng-model="model.car.year"
                   id="year"/>

            <label for="make">Make</label>
            <input class="form-control"
                   ng-model="model.car.make"
                   id="make"/>

            <label for="model">Model</label>
            <input class="form-control"
                   ng-model="model.car.model"
                   id="model"/>

            <label for="condition">Condition</label>
            <input class="form-control"
                   ng-model="model.car.condition"
                   id="condition"/>

            <label for="capacity">Capacity</label>
            <input class="form-control"
                   ng-model="model.car.capacity"
                   id="capacity"/>

            <label for="carType">Type</label>
            <input class="form-control"
                   ng-model="model.car.carType"
                   id="carType"/>

            <form action="/api/upload" method="post" enctype="multipart/form-data">
                <input name="userId" value="{{model.userId}}" style="display: none"/>
                <input name="carId" value="{{model.carId}}" style="display: none"/>
                <label>Photo</label>
                <input name="myFile" type="file" class="form-control"/>
                <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
            </form>

            <a ng-click="model.updateCar()"
               class="btn btn-block btn-success">
                Update
            </a>
            <a ng-click="model.deleteCar()"
               class="btn btn-block btn-danger">
                Delete
            </a>
        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
